@import '../assets/scss/variables.scss';
.NotFoundPage {
    &__inner {
        text-align: center;
        min-height: 100dvh;
        position: relative;
        padding: 150px 15px;
        @include max-screen($mobile) {
            padding: 100px 15px;
        }
    }
    article {
        max-width: 600px;
        margin: 0 auto;
    }
    strong {
        display: block;
        font-size: 150px;
        line-height: 1.1;
        color: $color-primary;
        @include max-screen($mobile) {
            font-size: 100px;
        }
    }
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    a {
        color: $color-white;
    }
}