@import "../../assets/scss/variables.scss";
.number-input {
    margin-bottom: 15px;
    .react-international-phone-input-container {
        border: 1px solid $color-gray100;
        border-radius: 10px;
        input {
            border: 0;
            width: 100%;
            height: 50px;
            outline: none;
            font-size: 16px;
            appearance: none;
            padding: 8px 16px;
            color: $color-dark;
            background-color: transparent;
            font-family: $font-family-base;
            &::placeholder {
                color: $color-gray200;
            }
        }
        button {
            margin: 0;
            border: 0;
            height: 100%;
            padding-left: 15px;
            background-color: transparent;
        }
    }
    ul {
        z-index: 2;
        li {
            padding: 8px 10px;
        }
    }
    span {
        font-size: 12px;
        margin-top: 3px;
        display: block;
        padding: 0 3px;
        color: $color-error;
    }
}