@import "/src/assets/scss/variables.scss";
.home-content {
    padding-top: 60px;
    @include max-screen($desktop){
        padding-top: 40px;
    }
    @include max-screen($tablet){
        padding-top: 30px;
    }
    @include max-screen($mobile){
        padding-top: 0;
    }
    &__skeleton {
        height: 0;
        position: relative;
        padding-top: 56.25%;
        margin: -120px 0 60px;
        @include max-screen($desktop){
            margin: -97px 0 40px;
        }
        @include max-screen($tablet){
            margin: -88px 0 30px;
        }
        @include max-screen($mobile){
            margin: -51px 0 0;
        }
        ::ng-deep {
            span {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 0;
                position: absolute;
            }
        }
    }
}
