<div class="home-overlay container">
    <div class="home-overlay__wrap">
        <h1>Re-Digitalization of Waves #1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget
            ultricies venenatis vitae congue massa porttitor. Volutpat pulvinar
            mauris scelerisque amet vestibulum diam. Purus aliquam orci faucibus
            ipsum.</p>
        <div class="home-overlay__buttons dflex">
            <app-profile-button
                [details]="{avatar:'assets/images/avatar.png',name:'@jennywilson'}"></app-profile-button>
            <app-button label="OPEN NFT" type="primary"></app-button>
        </div>
    </div>
</div>