@import '../../assets/scss/variables.scss';
.header {
    top: 0;
    z-index: 9;
    width: 100%;
    padding: 15px 0;
    position: sticky;
    background-color: $color-dark;
    @include max-screen($tablet) {
        padding: 10px 0;
    }
    >div {
        min-height: 39px;
    }
    &__logo {
        width: 84px;
        cursor: pointer;
    }
    &__backdrop {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent
    }
    &__profile {
        position: relative;
        cursor: pointer;
        img {
            width: 13px;
            margin-left: 5px;
        }
        aside {
            color: $color-white;
            padding-right: 10px;
            width: calc(100% - 13px);
            strong {
                font-size: 16px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
                color: $color-light;
            }
            strong,
            p {
                display: block;
                max-width: 165px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    ul {
        right: 0;
        width: 100%;
        min-width: 120px;
        position: absolute;
        border-radius: 10px;
        top: calc(100% + 10px);
        transition: 0.3s ease-in-out;
        background-color: $color-white;
        box-shadow: 0 0 10px rgba($color-black, 0.1);
        &::before {
            right: calc(50% - 5px);
            content: "";
            bottom: 100%;
            position: absolute;
            transform: translateX(50%);
            border: 10px solid transparent;
            border-bottom-color: $color-white;
            @include max-screen($mobile) {
                border-width: 7px;
            }
        }
        li {
            font-size: 14px;
            cursor: pointer;
            padding: 10px 15px;
            white-space: nowrap;
            &:hover {
                color: $color-primary;
            }
            &+li {
                border-top: 1px solid rgba($color-black, 0.05);
            }
        }
    }
}